@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../vendor/saade/filament-autograph/resources/views/**/*.blade.php';

.fi-modal-window-has-sticky-header.fi-modal-window-has-footer {
  @apply overflow-y-auto;
}

.fi-sc-unordered-list {
  @apply columns-1;
}

.fi-logo {
  @apply py-2;
}

.navigation-widget {
  @apply cursor-pointer bg-transparent hover:bg-gray-100 hover:dark:bg-gray-900 transition-colors duration-75;
}

.fi-sidebar-nav-groups {
  @apply gap-2;
}
